.mapContainer{
    overflow: hidden;
}

.place-list{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 422px;
    height: 1020px;
    background-color: white;
    border-radius: 20px;
    z-index: 100;
    padding: 20px;

}
.subtitle{
    font-weight: bold;
}
.icon{
    background-image: url('https://t1.daumcdn.net/mapjsapi/images/2x/marker.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.item-container{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;
    gap: 10px;
}