main{
    position: relative;
    width: 1250px;
    height: 1080px;
    margin: 0 auto;
}
.b1{
    position: absolute;
    width: 1250px;
    height: 100px;
    top: 40px;
    left: 0px;
    background-color: #000000;
    z-index: 0;
}
.b2{
    position: absolute;
    width: 100px;height: 700px;
    top: 40px;
    left: 0;
    background-color: #676767;
    z-index: 2;
}
.b3{
    position: absolute;
    width: 675px;
    height: 100px;
    top: 342px;
    left: 0;
    background-color: #B4B4B4;
    z-index: 3;
}
.b4{
    position: absolute;
    width: 100px;height: 400px;
    top: 340px;
    left: 575px;
    background-color: #DEDEDE;
    z-index: 4;
}
.b5{
    position: absolute;
    width: 675px;
    height: 100px;
    top: 740px;
    left: 575px;
    background-color: #C7AEEF;
    z-index: 5;
}
.b6{
    position: absolute;
    width: 100px;
    height: 200px;
    top: 740px;
    left: 1150px;
    background-color: #6C4D9D;
    z-index: 6;
}