div{
    width:1250px;
    margin:0 auto;
}
header{
    display: flex;
}
.h_left{
    width: 250px;
    height: 100px;
    background-color: #54D8DC;
}
.h_right{
    width: 1000px;
    height: 100px;
    background-color: #86DADC;
}
main{
    display: flex;
}
.left{
    background-image: url(img/layout2_1.png);
    width: 415px;
    height: 880px;
}
.mid{
    background-image: url(img/layout2_2.png);
    width: 416px;
    height: 880px;
}
.right{
    background-image: url(img/layout2_3.png);
    width: 416px;
    height: 880px;
}
footer{
    display: flex;
}
.f_left{
    width: 250px;
    height: 100px;
    background-color: #FDE1E0;
}
.f_right{
    width: 1000px;
    height: 100px;
}
.r_top{
    width: 1000px;
    height: 50px;
    background-color: #FECECE;
}
.r_bot{
    width: 1000px;
    height: 50px;
    background-color: #FDB2B5;
}